// Header, footer, navigation, section 
section.hero {
  background-image: url("../img/hero.jpg");
  background-size: cover;
  z-index: 9999;
  height: 100%;
  width: 100%;
  position: fixed;
  background-position: center;
  top: 0;
  .tilting-logo {
    height: 100%;
    display: flex;
    align-content: center;
    justify-content: center;
    margin: auto;
    filter: drop-shadow(0 0 10px rgba(0, 0, 0, .5));
    max-width: 50%;
    flex-direction: column;
    padding: 0;
    svg {
      width: 100%;
    }
  }
  .hero-nav {
    display: inline-flex;
    justify-content: space-around;
    text-transform: uppercase;
    background-color: #fff;
    margin-top: 10px;
    font-size: 1vw;
    filter: drop-shadow(0 0 10px rgba(0, 0, 0, .25));
    letter-spacing: 10px;
    a {
      padding: 10px 20px;
      font-weight: 700;
    }
  }
}
header {
  background: #ffffff;
  text-transform: uppercase;
  font-size: .75rem;
  letter-spacing: .5rem;
  position: fixed;
  display: flex;
  justify-content: center;
  width: 100%;
  top: 0;
  z-index: 999;
  svg {
    height: 100%;
  }
  div {
    padding: 20px;
    width: 100%;
    max-width: 2400px;
    display: flex;
    justify-content: space-between;
  }
  ul {
    display: flex;
    justify-content: space-evenly;
    text-align: center;
    background: #fff;
    list-style: none;
    padding: 0;
    margin: 0;
  }
  li {
    text-align: right;
    &:hover {
      > ul {
        display: block;
      }
      > a {
        color: rgba(75,176,161, .5);
      }
    }
    a {
      color: rgba(75,176,161, 1);
      display: block;
      margin-left: 40px;
      text-decoration: none;
      line-height: 60px;
      width: inherit;
    }
  }
}
main {
  margin-top: 100px;
  .grid {
    background: #fff;
    max-width: 2400px;
    margin: auto;
  }
  /* clear fix */
  .grid:after {
    content: '';
    display: block;
    clear: both;
  }
  /* ---- .grid-item ---- */
  .grid-sizer, .grid-item {
    width: 24.66%;
  }
  .gutter-sizer {
    width: .45%;
  }
  .grid-item {
    float: left;
    margin-bottom: .45%;
  }
  .grid-item img {
    display: block;
    max-width: 100%;
  }
  .grid-item--width2 {
    width: 49.77%;
  }
  img {
    &:hover {
      opacity: .65;
      transition-duration: 500ms;
      cursor: crosshair;
    }
  }
}
@media only screen and (max-width: 480px) {
  section.hero {
    .tilting-logo {
      max-width: 80%;
    }
    .hero-nav {
      flex-direction: column;
      background-color: transparent;
      align-items: center;
      letter-spacing: 5px;
      a {
        color: #fff;
        font-size: 24px;
        filter: drop-shadow(0 0 10px rgba(0, 0, 0, 1));
        line-height: 24px;
      }
    }
  }
  main {
    .grid-sizer, .grid-item {
      width: 100%;
    }
  }
}