// Header, footer, navigation, section 
body {
  background-color: rgba(0,0,0, .05);
  margin: 0;
}
header {
  background: #ffffff;
  text-transform: uppercase;
  font-size: .75rem;
  letter-spacing: .5rem;
  position: fixed;
  display: flex;
  justify-content: center;
  width: 100%;
  top: 0;
  z-index: 999;
  svg {
    height: 100%;
  }
  div {
    padding: 20px;
    width: 100%;
    max-width: 2400px;
    display: flex;
    justify-content: space-between;
  }
  ul {
    display: flex;
    justify-content: space-evenly;
    text-align: center;
    background: #fff;
    list-style: none;
    padding: 0;
    margin: 0;
    li {
      text-align: right;
      &:hover {
        > ul {
          display: block;
        }
        > a {
          color: rgba(75,176,161, .5);
        }
      }
      a {
        color: rgba(75,176,161, 1);
        display: block;
        margin-left: 40px;
        text-decoration: none;
        line-height: 60px;
        width: inherit;
      }
    }
  }
}
html {
  // background-image: url("../img/hero.jpg");
  // background-size: cover;
  // background-position: center;
  // position: fixed;
  // height: 100%;
  // width: 100%;
}
main {
  margin-top: 100px;

  .grid {
    background: #fff;
    max-width: 2400px;
    margin: auto;
  }
  
  /* clear fix */
  .grid:after {
    content: '';
    display: block;
    clear: both;
  }
  
  /* ---- .grid-item ---- */
  
  .grid-sizer,
  .grid-item {
    width: 24%;
  }

  .gutter-sizer {
    width: 1.33%;
  }
  
  .grid-item {
    float: left;
    margin-bottom: 1.33%;
  }
  
  .grid-item img {
    display: block;
    max-width: 100%;
  }
  .grid-item--width2 {
    width: 49.33%;
  }
}
